* {
    margin: 0;
    padding: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.background {
    background-image: url("/images/bg-pattern-bottom.svg");
    background-color: #19A1AD;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.card {
    background-image: url("/images/bg-pattern-card.svg");
    width: 350px;
    height: 450px;
    display: flex;
    align-items: flex-end;
    border-radius: 12px;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    height: 300px;
    width: 100%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.image-container {
    height: 200px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    position: absolute;
    top: -50%;
    border-radius: 99px;
    border: 5px solid #fff;
    width: 100px;
    height: 100px;

}

.text {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.textContainer {
    position: relative;
    bottom: 75px;
}

.age {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: normal;
}

.city {
    font-family: 'Kumbh Sans', sans-serif;
    text-align: center;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bold;
    border-top: 1px solid #e3e3e3;
    height: 200px;
}

.user .info {
    text-align: center;
}

.user .info .title {
    font-weight: normal;
}